*,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    color: white;
}


.site-header {
    text-align: center;
    padding: 0 0 2em ;
}

.controls {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

input {
    width: 100px;
    height: 50px;
    border: 1px solid white;
}


button, 
select {
    padding: 1em 1.2em;
    border-radius: .3125em;
    border: 0.0625em solid black;
    background-color: #1F2937;
    border: 1px solid white;
    font-weight: bold;
    
}

button:hover {
    background-color: #021A31;
}

img {
    height: 700px;
}

.colors-container {
    display: grid;
    margin: 1.5em auto;
    grid-template-columns: repeat(5, 11.8em);
    justify-content: center;
    padding: 1.5em;
}

.colors {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    gap: 1em;
}

@media (min-width: 1000px) {

    .colors-container {
        display: grid;
        margin: 1.5em auto;
        grid-template-columns: repeat(5, 23.8em);
        justify-content: center;
        padding: 1.5em;
    }

}

@media (max-width: 500px){
    .colors-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1em;

    }

    img {
        height: 120px;
    }

    section {
        display: grid;
        grid-template-columns: .5em 1fr .5em;
    }
   
}